.cart-shop{
   width:1190px;
   margin: 0 auto;
   margin-bottom: 20px;
   
   table{
       width: 1190px;
       border:1px solid #e5e5e5;  
       thead{
           height: 43px;
            border-color: inherit;
           border-bottom: 0; 
           line-height: 43px;
           text-align: center;
           background: #f8f8f8;
       }
       tbody{
           display: table-row-group;
            vertical-align: middle;
           border-color: inherit;
            text-align: center;
       }
       tfoot{
         display: table-footer-group;
         vertical-align: middle;
           border-color: inherit;
           height:40px;
           text-align: center;
           line-height: 40px;
       }
       span{
           color: red;
           font-weight: 600;
           padding: 0 5px;
           
       }

       .howmany{
           text-align: right;
       }
       .input-group{
           margin-left: 17px;
         .minus{
           width: 22px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border: 1px solid #e5e5e5;
            border-right: none;
            background: #f8f8f8;
            float: left;
            cursor: pointer;
       }
       .amount{
           width: 28px;
            height: 22px;
            line-height: 22px;
             border: 1px solid #e5e5e5;
            float: left;
            text-align: center;
            padding: 0;
       }
       .add{
               width: 22px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border: 1px solid #e5e5e5;
                border-left: none;
                background: #f8f8f8;
                float: left;
                cursor: pointer;
       }  
     }
       
   }
}